<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="vertical">

    <android.support.v7.widget.CardView
        android:id="@+id/card_view"
        xmlns:card_view="http://schemas.android.com/apk/res-auto"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        card_view:cardBackgroundColor="#737CA1"
        card_view:cardCornerRadius="10dp"
        card_view:cardElevation="5dp"
        card_view:cardUseCompatPadding="true">

        <RelativeLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:paddingBottom="10dp"
            android:paddingTop="10dp">

            <TextView
                android:id="@+id/cardView_name"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginLeft="16dp"
                android:layout_marginStart="16dp"
                android:singleLine="true"
                android:text="Shaba Mariam"
                android:textColor="#ffffff"
                android:textStyle="bold" />

            <TextView
                android:id="@+id/cardView_location"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignLeft="@+id/cardView_name"
                android:layout_below="@+id/cardView_name"
                android:singleLine="true"
                android:text="Programmer, Lagos"
                android:textColor="#ffffff" />

            <TextView
                android:id="@+id/cardView_github"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:singleLine="true"
                android:text="https://github.com/mariamshabs"
                android:textColor="#ffffff"
                android:textStyle="bold"
                android:layout_below="@+id/cardView_location"
                android:layout_alignLeft="@+id/cardView_location"
                android:layout_alignStart="@+id/cardView_location" />

            <ImageView
                android:id="@+id/cardView_dots"
                android:layout_width="20dp"
                android:layout_height="20dp"
                android:layout_alignParentEnd="true"
                android:layout_alignParentRight="true"
                android:layout_marginEnd="16dp"
                android:layout_marginRight="16dp"
                android:layout_marginTop="5dp"
                android:src="@drawable/icon_dots" />

            <ImageView
                android:id="@+id/cardView_image"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:adjustViewBounds="true"
                android:scaleType="fitXY"
                android:src="@drawable/sample_image"
                android:layout_below="@+id/cardView_github"
                android:layout_alignLeft="@+id/cardView_heart"
                android:layout_alignStart="@+id/cardView_heart"
                android:layout_alignRight="@+id/cardView_bookmark"
                android:layout_alignEnd="@+id/cardView_bookmark" />

            <ImageView
                android:id="@+id/cardView_heart"
                android:layout_width="20dp"
                android:layout_height="20dp"
                android:layout_below="@id/cardView_image"
                android:layout_marginLeft="16dp"
                android:src="@drawable/icon_heart" />

            <ImageView
                android:id="@+id/cardView_comment"
                android:layout_width="20dp"
                android:layout_height="20dp"
                android:layout_below="@id/cardView_image"
                android:layout_marginLeft="16dp"
                android:layout_toRightOf="@+id/cardView_heart"
                android:src="@drawable/icon_comment" />

            <ImageView
                android:id="@+id/cardView_send"
                android:layout_width="20dp"
                android:layout_height="20dp"
                android:layout_below="@id/cardView_image"
                android:layout_marginLeft="16dp"
                android:layout_toRightOf="@+id/cardView_comment"
                android:src="@drawable/icon_send"
                android:text="Check out this awesome developer@github.com/mariamshabs" />

            <ImageView
                android:id="@+id/cardView_bookmark"
                android:layout_width="20dp"
                android:layout_height="20dp"
                android:layout_alignParentEnd="true"
                android:layout_alignParentRight="true"
                android:layout_below="@+id/cardView_image"
                android:layout_marginRight="16dp"
                android:src="@drawable/icon_bookmark" />

            <View
                android:id="@+id/divider"
                android:layout_width="match_parent"
                android:layout_height="0.5dp"
                android:layout_alignParentLeft="true"
                android:layout_alignParentStart="true"
                android:layout_below="@+id/cardView_heart"
                android:layout_marginBottom="8dp"
                android:layout_marginLeft="16dp"
                android:layout_marginRight="16dp"
                android:layout_marginTop="8dp"
                android:background="#BDBDBD" />

            <TextView
                android:id="@+id/cardView_description"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="General Programming Skills, Software Development, Andela Android Programmer"
                android:textColor="#FFFFFF"
                android:layout_alignParentBottom="true"
                android:layout_alignParentRight="true"
                android:layout_alignParentEnd="true" />

            <TextView
                android:id="@+id/cardView_timestamp"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_below="@+id/cardView_description"
                android:layout_marginLeft="16dp"
                android:layout_marginRight="16dp"
                android:layout_marginTop="8dp"
                android:text="26 MINUTES AGO"
                android:textSize="9sp" />

        </RelativeLayout>

    </android.support.v7.widget.CardView>

</LinearLayout>
